In [29]:
import pandas as pd

In [30]:
data = {"category" : ["A", "B", "C","A", "B", "C","A", "B", "C"]}

In [31]:
df = pd.DataFrame(data)
df

  category
0        A
1        B
2        C
3        A
4        B
5        C
6        A
7        B
8        C

In [33]:
on_hot_encoded_df = pd.get_dummies(df, columns=["category"])
on_hot_encoded_df

   category_A  category_B  category_C
0        True       False       False
1       False        True       False
2       False       False        True
3        True       False       False
4       False        True       False
5       False       False        True
6        True       False       False
7       False        True       False
8       False       False        True

In [34]:
on_hot_encoded_df = pd.get_dummies(df, columns=["category"], prefix="Column",)
on_hot_encoded_df

   Column_A  Column_B  Column_C
0      True     False     False
1     False      True     False
2     False     False      True
3      True     False     False
4     False      True     False
5     False     False      True
6      True     False     False
7     False      True     False
8     False     False      True

In [35]:
on_hot_encoded_df = pd.get_dummies(df, columns=["category"], prefix="Column",drop_first= True,)
on_hot_encoded_df

   Column_B  Column_C
0     False     False
1      True     False
2     False      True
3     False     False
4      True     False
5     False      True
6     False     False
7      True     False
8     False      True